<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Post message</title>
</head>
<body>
    <%- include("partials/navbar") %>
    <div class="form-content">
        <div class="form-container">
            <h1 class="form-title">Post Message</h1>
            <form class="form" action="/messages/create" method="post">
                <div class="form-element">
                    <label class="label" for="title">Title</label>
                    <input class="input" type="text" name="title" id="title" value="<% locals.oldInput ? oldInput.title : "" %>">
                    <% if (locals.errors) { %>
                        <% const titleError = errors.find(error => error.path === "title") %>
                        <% if (titleError) { %>
                            <span class="err form-err"><%= titleError.msg %></span>
                        <% } %>
                    <% } %>
                </div>
                <div class="form-element">
                    <label class="label" for="description">Description</label>
                    <textarea class="input textarea" name="description" id="description"><%= locals.oldInput ? oldInput.description : "" %></textarea>
                    <% if (locals.errors) { %>
                        <% const descriptionError = errors.find(error => error.path === "description") %>
                        <% if (descriptionError) { %>
                            <span class="err form-err"><%= descriptionError.msg %></span>
                        <% } %>
                    <% } %>
                </div>
                <div class="form-element"><button class="btn" type="submit">Add message</button></div>
            </form>
        </div>
    </div>
</body>
</html>