<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Membership</title>
    <link rel="stylesheet" href="/styles/styles.css">
</head>
<body>
    <%- include("partials/navbar") %>
    <div class="form-content">
        <div class="form-container">
            <h1 class="form-title">Membership</h1>
            <form class="form" action="/membership" method="post">
                <div class="form-element">
                    <label class="label" for="code">Enter the secret code</label>
                    <input class="input" type="text" name="code" id="code">
                    <% if (locals.errors) { %>
                        <% errors.forEach(error => { %>
                            <span class="err form-err"><%= error.msg %></span>
                        <% }) %>
                    <% } %>
                </div>
                <div class="form-element"><button class="btn" type="submit">Enter code</button></div>
            </form>
        </div>
    </div>
</body>
</html>