<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/membership" method="post">
        <label for="code">Enter the secret code</label>
        <input type="text" name="code" id="code">
        <% if (locals.errors) { %>
            <% errors.forEach(error => { %>
                <span><%= error.msg %></span>
            <% }) %>
        <% } %>
        <button type="submit">Enter code</button>
    </form>
</body>
</html>