<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up</title>
</head>
<body>
    <form action="/sign-up" method="post">
        <label for="firstName">First Name</label>
        <input type="text" name="firstName" id="firstName" required>
        <label for="lastName">Last Name</label>
        <input type="text" name="lastName" id="lastName" required>
        <label for="username">Email</label>
        <input type="email" name="username" id="username" required>
        <label for="password">Password</label>
        <input type="password" name="password" id="password" required>
        <label for="confirmPassword">Confirm Password</label>
        <input type="password" name="confirmPassword" id="confirm-password" required>
        <button type="submit">Sign Up</button>
    </form>
    <%- include("./partials/errors") %>
</body>
</html>