<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= locals.currentUser.id === locals.user.id ? "Your messages" : user.first_name + " " + user.last_name +"'s " + "messages" %></title>
    <link rel="stylesheet" href="/styles/styles.css">
</head>
<body>
    <%- include("partials/navbar") %>
    <div class="home-container">
        <div class="home-content">
            <h1 class="index-title"><%= locals.currentUser.id === locals.user.id ? "Your messages" : user.first_name + " " + user.last_name +"'s " + "messages" %></h1>
            <div class="messages-container">
                <% messages.forEach(message => { %>
                    <%- include("partials/message", {message: message, isMember: currentUser.membership_status}) %>
                <% }) %>
            </div>
        </div>
    </div>
</body>
</html>